.contactcont {
  height: calc(100vh - 60px);
  width: calc(100vw - 300px);
  .fake {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 20px;
    .box {
      margin-bottom: 10px;
      margin-top: 1.5px;
      width: 200px;
      height: 200px;
      background-color: white;
      margin-left: 10px;
      box-shadow: 0px 0px 5px rgba(19, 18, 18, 0.452);
      display: flex;
      flex-direction: column;
      .pic {
        flex: 0.65;
        background-color: red;
        cursor: pointer;
        .div {
          flex: 1;
          width: 200px;
          height: 140px;

          background-color: white;
         
        }
      }
      .items {
        flex: 0.35;
        display: flex;
        flex-direction: column;
        .phone {
          flex: 0.5;
          background-color: rgba(0, 0, 0, 0.521);

          align-items: center;
          padding-left: 20px;
          flex-direction: column;
          color: rgb(255, 255, 255);
          font-weight: bold;
        }
        .button {
          flex: 0.4;
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          align-items: center;
          padding-left: 20px;
          padding-right: 20px;
          .icons {
            cursor: pointer;
            transition-duration: 0.2s;
            -webkit-transition-duration: 0.2s;
          }
          .fav:hover {
            color: red;
          }
        }
      }
    }
  }
}
